/**
 * @file
 * Basic styling for the Billing module of the Cura Childcare Suite.
 */

/**
 * Theme the invoice.
 */
.inv-number {
  text-align: right;
}

th.views-field-field-inv-line-total {
  width: 20%;
}

.view-invoices-new,
.view-invoices-new table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  width: 100%;
}

p.invoice {
  height: 140px;
  border: 1px solid #E5E5E5;
  padding: 10px 10px;
  margin: 10px 0px;
}

